<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="./style.css" rel="stylesheet" type="text/css" />
    <title>SHA-512 EXAMPLE</title>
  </head>
  <body>
    <div id="total">

      <div id="title">
        <h1>개인식별자 암호화</h1>
      </div>

      <div class="contents">
        <form action="/sha" method="post">
          <input class="input" type="text" name="salt" placeholder="임의의 salt" required />
          <input class="input" type="text" name="number" placeholder="암호화할 개인식별자" required>
          <p>
            <input id="button" type="submit" value="암호화" >
          </p>
        </form>
      </div>

    <div id="result">

      <ul>
        <li id="sub">salt</li>
          <p id="con"><%=_salt%></p>
        <li id="sub">원문</li>
          <p id="con"><%=_number%></p>
        <li id="sub">1차 암호화</li>
          <p id="con"><%=_result%></p>
        <li id="sub">2차 암호화</li>
          <p id="con"><%=_double%></p>
        </ul>
      </div>
    </div>
  </body>
</html>
